@model User


<h1>User Registration Without Ajax</h1>
<br />
<div style="width:500px">
    <form asp-controller="home" asp-action="addUser" method="post">
        <div>
            <div>
                <div><label asp-for="Name">Name</label></div>
                <div>
                    <div class="form-group row">
                        <input asp-for="Name" class="form-control" />
                        <span style="color:red" asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>

            <div>
                <div><label asp-for="Age">Age</label></div>
                <div>
                    <div class="form-group row">
                        <input asp-for="Age" class="form-control" />
                        <span style="color:red" asp-validation-for="Age"></span>
                    </div>
                </div>
            </div>

            <div>
                <div><label asp-for="Phone">Phone</label></div>
                <div>
                    <div class="form-group row">
                        <input type="number" asp-for="Phone" class="form-control" />
                        <span style="color:red" asp-validation-for="Phone"></span>
                    </div>
                </div>
            </div>

            <div>
                <div><label asp-for="Email">Email</label></div>
                <div>
                    <div class="form-group row">
                        <input asp-for="Email" class="form-control" />
                        <span style="color:red" asp-validation-for="Email"></span>
                    </div>
                </div>
            </div>

            <div>
                <button (click)="submitClick=true" type="submit">Add User</button>
            </div>
        </div>
    </form>
</div>